<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="new-titles">
    <%= f.fields_for :titles do |form| %>
      <%= render partial: "title_fields", locals: {f: form} %>
    <% end %>
  </div>
  <%= link_to_add_association 'Add Title', f, :titles, 'data-association-insertion-node' => ".new-titles", 'data-association-insertion-method' => "append", :wrap_object => @item.titles.build %>
  <br><br>
  <div class="new-codes">
    <%= f.fields_for :codes do |form| %>
      <%= render partial: "code_fields", locals: {f: form} %>
    <% end %>
  </div>
  <%= link_to_add_association 'Add Code', f, :codes, 'data-association-insertion-node' => ".new-codes", 'data-association-insertion-method' => "append", :wrap_object => @item.codes.build %>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :total_sold %><br>
    <%= f.number_field :total_sold %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
